@{
    ViewData["Title"] = "Edit AppUser's Devices";
}

@model AppUserDevicesEditViewModel
<div class="bg-primary panel-body"><h4>Edit AppUser's Devices</h4></div>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="EditDevices" method="post">
    <input type="hidden" name="UserId" value="@Model.User.Id" />
    <h6 class="bg-info panel-body">Add To @Model.User.UserName</h6>
    <table class="table table-bordered table-condensed">
        @if (Model.NotAccessibleDevices.Count() == 0)
        {
            <tr><td colspan="3">All Devices are members.</td></tr>
        }
        else
        {
            @foreach (Device device in Model.NotAccessibleDevices)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>@device.TimeOfCreation</td>
                    <td>
                        <input type="checkbox" name="IdsToAdd" value="@device.Guid">
                    </td>
                </tr>
            }
        }
    </table>
    <h6 class="bg-info panel-body">Remove From @Model.User.UserName</h6>
    <table class="table table-bordered table-condensed">
        @if (Model.AccessibleDevices.Count() == 0)
        {
            <tr><td colspan="3">No devices are members.</td></tr>
        }
        else
        {
            @foreach (Device device in Model.AccessibleDevices)
            {
                <tr>
                    <td>@device.Name</td>
                    <td>@device.TimeOfCreation</td>
                    <td>
                        <input type="checkbox" name="IdsToDelete" value="@device.Guid">
                    </td>
                </tr>
            }
        }
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>